aliases:
  - &node_executor
      executor:
        name: node/node
        node-version: "18.20"

version: 2.1

orbs:
  ci: bigcommerce/internal@volatile
  node: bigcommerce/internal-node@volatile
  security: bigcommerce/internal-security@volatile

jobs:
  test:
    <<: *node_executor
    parallelism: 2
    resource_class: medium+
    steps:
      - ci/pre-setup
      - node/yarn-install
      - run:
          name: "Run unit tests for core package"
          command: |
            yarn test

  lint:
    <<: *node_executor
    resource_class: medium+
    steps:
      - ci/pre-setup
      - node/yarn-install
      - run:
          name: "Run lint"
          command: yarn run lint

  build_and_push:
    <<: *node_executor
    resource_class: medium+
    steps:
      - ci/pre-setup
      - node/yarn-install
      - ci/gcloud_login
      - run:
          name: "Build distribution files"
          command: |
             yarn build:production
             mv apps/storefront/dist ${CIRCLE_SHA1}
             mv config ${CIRCLE_SHA1}
             tar zcf ${CIRCLE_SHA1}.tar.gz ${CIRCLE_SHA1}
             ./google-cloud-sdk/bin/gsutil cp ${CIRCLE_SHA1}.tar.gz gs://bigcommerce-common-deployment-artifact-gcs-storage/b2b-buyer-portal/${CIRCLE_SHA1}.tar.gz
 
workflows:
  version: 2

  default:
    jobs:
      - test
      - lint
      - ci/validate-commits
      - build_and_push:
          context: "GCR + Artifact Bucket Access"
      - ci/validate-commits:
          context: org-global
      - ci/notify-success:
          context: "GCR + Artifact Bucket Access"
          requires:
            - build_and_push
            - ci/validate-commits
      - security/scan:
          name: "Gitleaks secrets scan"
          context: org-global
          GITLEAKS_BLOCK: "false"
