.bundle-namespace .bundle-app > iframe {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.bundle-namespace .bundle-app > iframe.active-frame {
  width: 100%;
  height: 100%;
  position: fixed;
  overscroll-behavior: contain;
  z-index: 9999999999;
  pointer-events: pointer;
}

.bundle-namespace iframe {
  font-family: 'Helvetica Neue', 'Apple Color Emoji', Helvetica, Arial,
    sans-serif;
  font-size: 100%;
  font-style: normal;
  letter-spacing: normal;
  font-stretch: normal;
  font-weight: normal;
  text-align-last: initial;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  alignment-baseline: baseline;
  animation-play-state: running;
  backface-visibility: visible;
  background-color: transparent;
  background-image: none;
  baseline-shift: baseline;
  bottom: auto;
  -webkit-box-decoration-break: slice;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  dominant-baseline: auto;
  empty-cells: show;
  float: none;
  height: auto;
  -webkit-hyphenate-character: auto;
  hyphens: manual;
  image-rendering: auto;
  left: auto;
  line-height: inherit;
  max-height: none;
  max-width: none;
  min-height: 0px;
  min-width: 0px;
  opacity: 1;
  orphans: 2;
  outline-offset: 0px;
  page: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  pointer-events: auto;
  position: static;
  quotes: none;
  resize: none;
  right: auto;
  size: auto;
  table-layout: auto;
  top: auto;
  transform: none;
  transform-origin: 50% 50% 0px;
  transform-style: flat;
  unicode-bidi: normal;
  vertical-align: baseline;
  white-space: normal;
  widows: 2;
  width: auto;
  word-break: normal;
  word-spacing: normal;
  overflow-wrap: normal;
  z-index: auto;
  text-align: start;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  text-decoration: none;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: initial;
  border-radius: 0px;
  list-style: outside none disc;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-to-cart-wrapper > .form-action {
  width: 100%;
}

.b2b-add-to-list,
.b2b-add-to-quote,
.b2b-cart-to-quote {
  padding: 0.85714rem 15px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border-color: #a18568;
  color: #74685c;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #a18568;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 1rem;
  margin-right: 11px;
}

.b2b-add-to-quote,
.b2b-cart-to-quote {
  margin-bottom: 14px;
  padding: 0.85714rem 2.28571rem;
  order: 1;
  background-color: #444;
  border-color: #444;
  color: #fff;
}

.b2b-cart-to-quote {
  float: right;
  align-items: center;
  flex-direction: column;
}

.b2b-add-to-list {
  order: 2;
}

.b2b-btn-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: 1px solid #000;
  border-top-color: transparent;
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}

#b2b-div-loading {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(165, 158, 158, 0.2);
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#add-to-cart-wrapper .form-action {
  display: flex;
  align-items: self-start;
}

#globalTip {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 10000;
  min-width: 300px;
}

.b2b-quote-global-success {
  background-color: rgb(46, 125, 50);
}

.b2b-quote-global-error {
  background-color: rgb(211, 47, 47);
}

.b2b-quote-global-alert {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: none;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: flex;
  padding: 6px 16px;
  color: white;
}

.b2b-quote-global-alert .MuiAlert-icon {
  color: white;
}

.b2b-quote-global-icon {
  margin-right: 12px;
  padding: 7px 0px;
  display: flex;
  font-size: 22px;
  opacity: 0.9;
}

.b2b-quote-global-svg {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: inherit;
}

.b2b-quote-global-message {
  padding: 8px 0px;
  min-width: 0px;
  overflow: auto;
  font-size: 14px;
}

.b2b-quote-global-action {
  display: flex;
  align-items: center;
  padding: 2px 0 2px 16px;
  margin-left: 30px;
}

.b2b-quote-global-btn {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: inherit;
  padding: 5px;
  font-size: 1rem;
}

.b2b-quote-global-btn-svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.25rem;
}

#body-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fef9f5;
  z-index: 99999999995;
  display: flex;
  justify-content: center;
  align-items: center;
}

#body-mask .body-mask-loadding {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
