name: Deploy to Production - Tier 1 Only

on:
  push:
    branches:
      - pre
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: production
      store_list: ./deployment/production-tier1.json
    secrets: inherit
